body {
	margin: 0;
	font-family: 'Work Sans', sans-serif;
	font-weight: 500;
	padding: 15px;
	text-align: left;
	
}


.container {
	width: 50%;
	margin: 0 auto;
}

header {
  background: #55d6aa;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.nav {
	float:center;
	background-color: black;
	overflow: hidden;
}

.nav a.active {
	color: white;
	background-color: maroon;	
}

.nav a:hover {
	color: white;
	background-color: black;
}


.nav a {
	float: left;
	color: grey;
	text-align: center;
	padding: 20px;
	text-decoration: none;
	font-size: 30px;	
}
	

p {
	font-family: "calibri";
	font-size: 19pt;
	text-align: left;
	text-indent: 48px;
	color: black;
}

hr {
	height: 2px;
	color: #ff3819;
}

.column {
  float: left;
  width: 30%;
  padding: 1px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.grid {
	width: 90%;
	margin: 0 auto;
	font-family: "calibri";
	font-size: 19pt;
	text-align: left;
	text-indent: 48px;
	color: black;
	padding:1px;
}

.grid > div {
	background-color:#DDDDDD;
}

.break {
	width: 90%;
	margin: 0 auto;
	font-family: "calibri";
	font-size: 20pt;
	text-align: left;
	text-indent: 48px;
	color: black;	
}

	

